*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/body_login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.login2{
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    
}

.imgLogin{
    width: 200px;
    align-self: center;
}

.login2 input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login2 a:last-child{
    background-color: purple;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.login2 a:last-child:hover{
    background-color: rgb(90, 0, 90);
}

.login2 p{
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.login2 label{
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

.login2 a:first-of-type{
    font-size: 13px;
    color: purple;
    text-decoration: none;
    align-self: flex-end;
}

@media (max-width: 600px){

    body{
        background-position: top;
    }

}